@font-face {
  font-family: "AvenirNextLTPro";
  src: url("fonts/AvenireNextLTPro-Regular.otf") format("opentype");

}

*{
  margin: 0;
}

.header {
  background-color: #9B9B8C;
  height: 5vh;
  width:100%;
  border: 1px solid black;
}
#header2{
  background-color: #9B9B8C;
  height: 15vh;
  width:100%;
  border: 1px solid black;
}
#headertext{
  color: white;
  margin-top: 5%;
  margin-left: 5%;
  font-family: "AvenirNextLTPro";
}

.container-right{
  height: 90vh;
  width: 49vw;
  float: right;
  overflow: hidden;
  text-align: center;
  background-image: url('resources/track.jpg');
  background-size: 700px;
  }

.container-right img {
    height: 200px;
    width: 200px;
  }
.container-left{
    height: 90vh;
    background-color: #d8d8d8;
    width: 51vw;
    overflow: hidden;
}
.footer{
  background-color: #686859;
  height: 5vh;
  width: 100%;
  padding-top: 2%;
  border: 1px solid black;
}
#footer2{
  background-color: #686859;
  height: 8vh;
  width: 100%;
  margin-top: 18.2%;
  padding-bottom: 1%;
  border: 1px solid black;
  }

#button{
margin-left: 29%;
margin-top: 0%;

}
#color{
background-color: #313236;
color: white;
font-family: "AvenireNextLTPro", serif;
font-size: 30px;
}
#tb{
  margin-left: 25%;
  margin-top: 30%;
  font-size: 70px;
  color: #51124f;
}


.padding{
  width: 50vw;
  height: 30vh;
}

#copywrite{
  font-size: 25px;
  font-family: "AvenireNextLTPro", serif;
  margin-left: 5%;
}


#crFont{
  font-family: "AvenireNextLTPro", serif;
  color: white;
}

#crFont2{
  font-family: "AvenireNextLTPro", serif;
  color: white;
  margin-top: 3vh;

}
/*FIRST PAGE PICTURE SIZE*/
#pic1{
  z-index: 2;
  height: 28vh;
  width: 40%;
}

.virticalTrackPictures{
  height: 5vh;
  width: 10%;
}
/*FIRST PAGE PICTURE LAYOUT*/

/*END FIRST PAGE PICTURES*/


/* BEGIN SECOND PAGE PICTURES*/

#piccolumn div{
  margin-top: 2vh;
  display: inline-block;
  height:10vh;

}

#piccolumn div img{
  height: 110%;
}

#piccolumn{

  overflow: auto;
  overflow-x: scroll;
}

#textboxarea{
  margin-left: 7vw;
}
#textBstyle{
background-color: #EEEEEE;

}

.button2{
  margin-left: 10vw;
  font-size:27px;

}
#buttoncolor{
background-color: #353526;
color: white;
border-radius: 10px;


}




p{
  font-family: "AvenireNextLTPro", serif;

}
